#files being edited
*~


# make and build files
*.lst
*.o
*.so
*.eep
*.lss
*.map
*.sym

# Resources
*.bmp
*.ttf
*.mp3

# Other things
.vscode
*.code-workspace
*.directory
.yardoc
tmp
ext/RubyFmod/ruby
ext/RubyFmod/ruby.h
yard/doc
yard/*.html
mkmf.log
pkg/RubyFmod-0.1.0/*
